openapi: 3.2.0
info:
  title: BuiltWith API (from llms.txt + samples) Agent Payments API
  version: '2026-05-08'
  description: OpenAPI spec generated from https://api.builtwith.com/llms.txt and sample payloads under https://api.builtwith.com/samples/*.json (where available). Endpoints not covered by a sample file use a generic JSON schema.
servers:
- url: https://api.builtwith.com
security:
- ApiKeyQuery: []
tags:
- name: AgentPayments
paths:
  /v1/billing/api-discovery:
    get:
      operationId: agent_payment_api_discovery
      tags:
      - AgentPayments
      summary: Agent Payment API discovery
      servers:
      - url: https://payments.builtwith.com
      security:
      - ApiKeyQuery: []
      - BearerAuth: []
      responses:
        '200':
          description: Available API credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyJson'
  /v1/billing/api-configuration:
    get:
      operationId: agent_payment_api_configuration
      tags:
      - AgentPayments
      summary: Agent Payment API configuration
      servers:
      - url: https://payments.builtwith.com
      security:
      - ApiKeyQuery: []
      - BearerAuth: []
      responses:
        '200':
          description: Spending limits and monthly purchase status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyJson'
  /v1/billing/api-purchase:
    post:
      operationId: agent_payment_api_purchase
      tags:
      - AgentPayments
      summary: Agent Payment API purchase
      description: Purchases API credits. Minimum purchase is 2000 credits.
      servers:
      - url: https://payments.builtwith.com
      security:
      - ApiKeyQuery: []
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPaymentPurchaseRequest'
      responses:
        '200':
          description: Purchase response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyJson'
components:
  schemas:
    AnyJson:
      description: A generic JSON payload.
      oneOf:
      - type: object
        additionalProperties: true
      - type: array
        items: {}
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
    AgentPaymentPurchaseRequest:
      type: object
      required:
      - credits
      properties:
        credits:
          type: integer
          minimum: 2000
      additionalProperties: false
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: KEY
      description: BuiltWith API key (KEY).
    BearerAuth:
      type: http
      scheme: bearer
      description: BuiltWith API key or temporary bw- agent token in the Authorization header.
externalDocs:
  description: 'Source: BuiltWith llms.txt'
  url: https://api.builtwith.com/llms.txt
x-mcp:
  endpoint: https://api.builtwith.com/mcp
  server: builtwith
  version: 1.3.0
  transport: streamable-http
  tools:
  - domain-lookup
  - domain-api
  - domain-api-json
  - change-api
  - relationships-api
  - free-api
  - company-to-url
  - tags-api
  - recommendations-api
  - redirects-api
  - keywords-api
  - keywords-search-api
  - trends-api
  - product-api
  - trust-api
  - financial-api
  - social-api
  - payment-balance
  - payment-config
  - payment-purchase
  - vector-api
  - ask-api
  - ask-api-json
  resources:
  - ui://widget/domain-technologies.html
  - ui://widget/ask-sites.html
  prompts:
  - analyze-tech-stack
  - find-related-websites
  - get-technology-recommendations
  - research-company
  - check-domain-trust
  - discover-technologies-by-concept
x-live-feed-websocket:
  tag: LiveFeed
  servers:
  - url: wss://sync.builtwith.com
  connection_endpoints:
  - wss://sync.builtwith.com/wss/new?KEY=YOUR_KEY
  - wss://sync.builtwith.com/wss/channel/{TECH}?KEY=YOUR_KEY
  commands:
  - action: subscribe
    payload:
      action: subscribe
      channel: Shopify
  - action: unsubscribe
    payload:
      action: unsubscribe
      channel: Shopify
  - action: list_subscriptions
    payload:
      action: list_subscriptions
