openapi: 3.2.0
info:
  title: BuiltWith API (from llms.txt + samples) Free API
  version: '2026-05-08'
  description: OpenAPI spec generated from https://api.builtwith.com/llms.txt and sample payloads under https://api.builtwith.com/samples/*.json (where available). Endpoints not covered by a sample file use a generic JSON schema.
servers:
- url: https://api.builtwith.com
security:
- ApiKeyQuery: []
tags:
- name: Free
paths:
  /free1/api.json:
    get:
      operationId: free_v1
      tags:
      - Free
      summary: Free API
      description: Summary counts/updates for tech groups. Sample schema inferred from /samples/free_api_v1.json.
      parameters:
      - $ref: '#/components/parameters/lookup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeApiV1Response'
components:
  schemas:
    FreeGroupSummary:
      type: object
      required:
      - name
      - live
      - dead
      - latest
      - oldest
      - categories
      properties:
        name:
          type: string
        live:
          type: integer
          format: int64
        dead:
          type: integer
          format: int64
        latest:
          type: integer
          format: int64
          description: Epoch milliseconds.
        oldest:
          type: integer
          format: int64
          description: Epoch milliseconds.
        categories:
          type: array
          items:
            $ref: '#/components/schemas/FreeCategorySummary'
      additionalProperties: true
    FreeApiV1Response:
      type: object
      required:
      - domain
      - first
      - last
      - groups
      properties:
        domain:
          type: string
        first:
          type: integer
          format: int64
          description: Epoch milliseconds.
        last:
          type: integer
          format: int64
          description: Epoch milliseconds.
        groups:
          type: array
          items:
            $ref: '#/components/schemas/FreeGroupSummary'
      additionalProperties: true
    FreeCategorySummary:
      type: object
      required:
      - live
      - dead
      - latest
      - oldest
      - name
      properties:
        live:
          type: integer
          format: int64
        dead:
          type: integer
          format: int64
        latest:
          type: integer
          format: int64
          description: Epoch milliseconds.
        oldest:
          type: integer
          format: int64
          description: Epoch milliseconds.
        name:
          type: string
      additionalProperties: true
  parameters:
    lookup:
      name: LOOKUP
      in: query
      required: true
      schema:
        type: string
      description: Primary lookup value, typically a root domain (e.g. example.com).
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: KEY
      description: BuiltWith API key (KEY).
    BearerAuth:
      type: http
      scheme: bearer
      description: BuiltWith API key or temporary bw- agent token in the Authorization header.
externalDocs:
  description: 'Source: BuiltWith llms.txt'
  url: https://api.builtwith.com/llms.txt
x-mcp:
  endpoint: https://api.builtwith.com/mcp
  server: builtwith
  version: 1.3.0
  transport: streamable-http
  tools:
  - domain-lookup
  - domain-api
  - domain-api-json
  - change-api
  - relationships-api
  - free-api
  - company-to-url
  - tags-api
  - recommendations-api
  - redirects-api
  - keywords-api
  - keywords-search-api
  - trends-api
  - product-api
  - trust-api
  - financial-api
  - social-api
  - payment-balance
  - payment-config
  - payment-purchase
  - vector-api
  - ask-api
  - ask-api-json
  resources:
  - ui://widget/domain-technologies.html
  - ui://widget/ask-sites.html
  prompts:
  - analyze-tech-stack
  - find-related-websites
  - get-technology-recommendations
  - research-company
  - check-domain-trust
  - discover-technologies-by-concept
x-live-feed-websocket:
  tag: LiveFeed
  servers:
  - url: wss://sync.builtwith.com
  connection_endpoints:
  - wss://sync.builtwith.com/wss/new?KEY=YOUR_KEY
  - wss://sync.builtwith.com/wss/channel/{TECH}?KEY=YOUR_KEY
  commands:
  - action: subscribe
    payload:
      action: subscribe
      channel: Shopify
  - action: unsubscribe
    payload:
      action: unsubscribe
      channel: Shopify
  - action: list_subscriptions
    payload:
      action: list_subscriptions
