openapi: 3.2.0
info:
  title: BuiltWith Domain Bulk Processing API
  description: Current and historical website technology information for single or multiple domains. Supports JSON, XML, and CSV response formats. Provides technology stack detection, metadata, attributes, and bulk processing capabilities across 491.9 million domains and 115,907 tracked web technologies.
  version: v22
  contact:
    name: BuiltWith Support
    url: https://builtwith.com/contact
  termsOfService: https://builtwith.com/terms
  license:
    name: Commercial
    url: https://builtwith.com/plans
servers:
- url: https://api.builtwith.com/v22
  description: BuiltWith Domain API v22
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Bulk Processing
  description: Asynchronous batch domain processing
paths:
  /domain/bulk:
    post:
      summary: Bulk domain technology lookup
      description: Submit a list of domains for batch processing. Small batches return synchronously; large batches return a job ID for polling.
      operationId: bulkDomainLookup
      tags:
      - Bulk Processing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequest'
            example:
              KEY: 00000000-0000-0000-0000-000000000000
              LOOKUP:
              - example.com
              - shopify.com
              - wordpress.org
      responses:
        '200':
          description: Bulk results or async job reference
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DomainResult'
                - $ref: '#/components/schemas/BulkJobResponse'
components:
  schemas:
    TechCategory:
      type: object
      properties:
        Category:
          type: string
          example: CMS
    Attribute:
      type: object
      description: Additional attribute data for a technology
      properties:
        Field:
          type: string
        Value:
          type: string
    DomainResult:
      type: object
      description: Top-level response wrapper for domain technology lookups
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/DomainResultItem'
    BulkJobResponse:
      type: object
      description: Async job reference for large bulk batches
      properties:
        JobId:
          type: string
          description: Job identifier for polling status
        Status:
          type: string
          enum:
          - queued
          - processing
          - complete
          - error
    DomainResultItem:
      type: object
      properties:
        Result:
          $ref: '#/components/schemas/Result'
    Technology:
      type: object
      description: A detected web technology
      properties:
        Name:
          type: string
          example: WordPress
        Description:
          type: string
        Link:
          type: string
          format: uri
        Tag:
          type: string
          description: Primary technology category tag
          example: cms
        Categories:
          type: array
          items:
            $ref: '#/components/schemas/TechCategory'
        FirstDetected:
          type: integer
          format: int64
          description: Unix timestamp (ms) of first detection
        LastDetected:
          type: integer
          format: int64
          description: Unix timestamp (ms) of last detection
        Live:
          type: boolean
          description: Whether the technology is currently active
        Attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
    BulkRequest:
      type: object
      required:
      - KEY
      - LOOKUP
      properties:
        KEY:
          type: string
          format: uuid
          description: API authentication key
        LOOKUP:
          type: array
          items:
            type: string
          description: List of domains to look up
          maxItems: 500
    DomainMeta:
      type: object
      description: Company and domain metadata
      properties:
        CompanyName:
          type: string
        Vertical:
          type: string
        Telephones:
          type: array
          items:
            type: string
        Emails:
          type: array
          items:
            type: string
        City:
          type: string
        State:
          type: string
        Postcode:
          type: string
        Country:
          type: string
        Names:
          type: array
          items:
            type: string
    Result:
      type: object
      properties:
        Lookup:
          type: string
          description: The queried domain
          example: example.com
        Meta:
          $ref: '#/components/schemas/DomainMeta'
        Paths:
          type: array
          items:
            $ref: '#/components/schemas/Path'
    Path:
      type: object
      properties:
        Domain:
          type: string
          description: Sub-domain or path scanned
        Technologies:
          type: array
          items:
            $ref: '#/components/schemas/Technology'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: KEY
      description: API key passed as a query parameter
    apiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key in header format: ''Authorization: API {key}'''
externalDocs:
  description: BuiltWith Domain API Documentation
  url: https://api.builtwith.com/domain-api
