openapi: 3.2.0
info:
  title: BuiltWith x402 Pay-per-Call List Passes API
  version: 1.0.0
  description: Accountless pay-per-call website, company, and technology intelligence using x402 v2 and USDC on Base. AgentCash-compatible clients can discover and pay for every operation in this document.
  contact:
    name: BuiltWith Support
    email: support@builtwith.com
    url: https://builtwith.com/contact
  x-guidance: For one-off agent research, choose the narrowest /agent operation and use its documented HTTP method and input. Every /agent operation costs $0.0495; GET /agent/domain accepts query parameters and the other /agent calls accept JSON bodies. No account, API key, payer field, or prepaid key is needed. Send the intended input on the first request, read the x402 v2 challenge from PAYMENT-REQUIRED, sign it for Base USDC, and retry the identical request with PAYMENT-SIGNATURE. Validation and upstream failures are not settled. Use /agent/company-domains before /agent/domain when only a company name is known, /agent/technology-search to resolve a concept to BuiltWith technology names, and /agent/ask for natural-language website discovery. High-volume callers may instead buy prepaid credits through the BuiltWith MCP server. Fixed-price List passes are separate products for List API and committed Ask access.
servers:
- url: https://api.builtwith.com
tags:
- name: List Passes
paths:
  /x402/list-pass/basic:
    post:
      operationId: purchaseBasicListPass
      summary: Purchase a 30-day basic BuiltWith List pass
      description: Pay 295.00 USDC on Base for a bearer pass covering 2 primary technology reports and 2 keyword or committed Ask reports. Repeating an existing report does not consume another slot.
      tags:
      - List Passes
      security: []
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '295.00'
        protocols:
        - x402: {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
              required: []
            example: {}
      responses:
        '200':
          description: Pass purchased and payment settled
          headers:
            PAYMENT-RESPONSE:
              description: Base64-encoded x402 v2 settlement response.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - passToken
                - tier
                - payer
                - price
                - expiresAt
                - technologyReportLimit
                - keywordReportLimit
                - warning
                properties:
                  passToken:
                    type: string
                    description: Secret bearer token. Store it securely; it is returned only once.
                  tier:
                    type: string
                    enum:
                    - basic
                    - pro
                  payer:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
                    description: Base wallet recovered from the settled x402 payment.
                  price:
                    type: string
                    pattern: ^\$[0-9]+(?:\.[0-9]+)?$
                  expiresAt:
                    type: string
                    format: date-time
                  technologyReportLimit:
                    type: integer
                    minimum: 0
                  keywordReportLimit:
                    type: integer
                    minimum: 0
                  warning:
                    type: string
        '400':
          description: Invalid JSON input; verified payments are not settled for validation failures
        '402':
          description: Payment Required
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 v2 payment requirements.
              schema:
                type: string
        '502':
          description: The upstream BuiltWith API request failed; the verified payment is not settled
        '503':
          description: x402 payments are not configured on this server
  /x402/list-pass/pro:
    post:
      operationId: purchaseProListPass
      summary: Purchase a 30-day pro BuiltWith List pass
      description: Pay 495.00 USDC on Base for a bearer pass covering 50 primary technology reports and 50 keyword or committed Ask reports. Repeating an existing report does not consume another slot.
      tags:
      - List Passes
      security: []
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '495.00'
        protocols:
        - x402: {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
              required: []
            example: {}
      responses:
        '200':
          description: Pass purchased and payment settled
          headers:
            PAYMENT-RESPONSE:
              description: Base64-encoded x402 v2 settlement response.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - passToken
                - tier
                - payer
                - price
                - expiresAt
                - technologyReportLimit
                - keywordReportLimit
                - warning
                properties:
                  passToken:
                    type: string
                    description: Secret bearer token. Store it securely; it is returned only once.
                  tier:
                    type: string
                    enum:
                    - basic
                    - pro
                  payer:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
                    description: Base wallet recovered from the settled x402 payment.
                  price:
                    type: string
                    pattern: ^\$[0-9]+(?:\.[0-9]+)?$
                  expiresAt:
                    type: string
                    format: date-time
                  technologyReportLimit:
                    type: integer
                    minimum: 0
                  keywordReportLimit:
                    type: integer
                    minimum: 0
                  warning:
                    type: string
        '400':
          description: Invalid JSON input; verified payments are not settled for validation failures
        '402':
          description: Payment Required
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 v2 payment requirements.
              schema:
                type: string
        '502':
          description: The upstream BuiltWith API request failed; the verified payment is not settled
        '503':
          description: x402 payments are not configured on this server
externalDocs:
  description: BuiltWith x402 USDC API documentation
  url: https://api.builtwith.com/x402-api
x-discovery:
  ownershipProofs:
  - '0x1ce9d8b85fd8afc523d26bf39eb4080326e4bef016e430f327d1cf6779fcdfdd0302f8e8804599bb3b7e254f26cf7fa3bc6c1311f9c9ae190e0c70e37fb305c11b'
x-x402-discovery: https://api.builtwith.com/.well-known/x402
x-agentcash-guidance:
  llmsTxtUrl: https://api.builtwith.com/llms.txt
